
<header class="toolbar" [class.dark-links]="router.url && router.url.startsWith('/login')">
  <div class="toolbar-inner container">
    <a class="brand" routerLink="/">
      <span class="logo-square"><img src="/assets/logo.png" alt="Auto Lavagem" /></span>
      <span class="brand-title">Auto Lavagem</span>
    </a>
    <div class="top-nav">
        <!-- <p><i>“Excelência em cada detalhe. Seu carro como novo, sempre.”</i></p> -->
        <div class="user-actions">
         <a *ngIf="auth.isLoggedIn()" routerLink="/meus-agendamentos">Meus Agendamentos</a>
         <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Entrar</a>
         <button *ngIf="auth.isLoggedIn()" (click)="logout()">Sair</button>
        </div>
    </div>
  </div>
</header>

<main class="content" role="main">
  <app-toast></app-toast>
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-left">
      <strong>© 2026 Auto Lavagem. Todos os direitos reservados.</strong>
    </div>
    <div class="footer-right">
      <a href="#">Solution Web TI</a>
    </div>
  </div>
</footer>


